.dz-file-preview, .dz-image-preview, .dz-preview {
	display: inline-block;
	position: relative;
	img {
		display:inherit;
	}
}

.dz-progress {
	height:2px;
	position:absolute;
	left:0;
	bottom:0;
	right:0;

	.dz-upload {
		width:0%;
		background-color:red;
		border:none;
		margin:0;
		padding:0;
		height: 100%;
		display: block;
	}
}

.album-view {
	min-height:80vh;

	.image {
		border:1px solid transparent;

		@include transition(border-color, 0.35s, ease);

		&:hover {
			border:1px solid rgb(226, 226, 255);
		}

		&.blank {
			// The button which allows you to add an image
		}
	}

	&.dz-drag-hover {
		background-color:$midGrey;
		& > .dz-message {
			@include transform(0, -33.33%);
		}
	}
}

.images {
	display:block;
	text-decoration: none;
	padding:0;
	border-top:1px solid $darkGrey;
	box-sizing:content-box;


	&.dz-drag-hover {
		background-color:$lightGrey;
	}
}

.new-image-button, .image {
	float:left;
	margin:0 2% 1rem 0;
	width: 15%;
	display: inline-block;
	position: relative;
	background-size:contain;

	@include mobile-only {
		width: 49%;
		&:nth-of-type(2n) {
			margin-right:0;
		}
	}

	&:after {
		// 4:3 ratio (3/4)
		padding-top:100%;
		display: block;
		content: '';
	}

	&:nth-of-type(6n) {
		margin-right:0;
	}

	a, div {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		display:block;
		cursor:pointer;
		overflow-y: hidden ! important;
		overflow-x: hidden ! important;
		background-color:$lightGrey;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: top center;
	}

	.image-inner {
		z-index:1;
	}
	
	.dz-progress {
		z-index:2;
	}
}

.new-image-button {
	background-color:$lightGrey;
	line-height:100%;
	vertical-align:center;
	text-align:center;
	font-size:$standard-font-size;

	a {
		opacity:0.5;
		background-image:url(/images/add-new-plus-desktop.png);
		background-image:url(/images/add-new-plus-desktop.svg);
		
		@include mobile-only {
			background-image:url(/images/add-new-plus-handheld.png);
			background-image:url(/images/add-new-plus-handheld.svg);
		}

		&:hover {
			opacity:1;
		}

		@include transition(opacity, 0.3s, ease-in-out);
	}
}

.short-link-form {
	label {
		display:block;
		text-align:center;
	}

	input {
		font-size:1em;
		width:20em;
	}

	h1 > & {
		margin-top:0;
	}
}

.copy-to-clipboard {
	&.copied {
		&:before {
			content:'Copied!';
			position:absolute;
			margin-top:-100%;
			display:inline-block;
			padding:$small-margin;
			margin-left:-100%;
		}
	}
}