.dz-file-preview, .dz-image-preview, .dz-preview {
	display: inline-block;
	position: relative;
	img {
		display:inherit;
	}
}

.dz-progress {
	height:2px;
	position:absolute;
	left:0;
	bottom:0;
	right:0;

	.dz-upload {
		width:0%;
		background-color:red;
		border:none;
		margin:0;
		padding:0;
		height: 100%;
		display: block;
	}
}

.image {
	border:1px solid transparent;

	@include transition(border-color, 0.35s, ease);

	&:hover {
		border:1px solid rgb(226, 226, 255);
	}

	&.blank {
		// The button which allows you to add an image
	}
}