.dz-file-preview, .dz-image-preview, .dz-preview {
	display: inline-block;
	position: relative;
	img {
		display:inherit;
	}
}

.dz-progress {
	height:2px;
	position:absolute;
	left:0;
	bottom:0;
	right:0;

	.dz-upload {
		width:0%;
		background-color:red;
		border:none;
		margin:0;
		padding:0;
		height: 100%;
		display: block;
	}
}

.album-view {
	.image {
		border:1px solid transparent;

		@include transition(border-color, 0.35s, ease);

		&:hover {
			border:1px solid rgb(226, 226, 255);
		}

		&.blank {
			// The button which allows you to add an image
		}
	}
}

.new-image-button, .image {
	overflow-y: hidden ! important;
	overflow-x: hidden ! important;
	background-color:$lightGrey;
	background-image: url('index.png');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	width:15%;
	float:left;
	height:10vmax;
	margin:0 2% 1rem 0;
	display: inline-block;
	cursor:pointer;
	border:1px solid transparent;

	&:nth-of-type(6n) {
		margin-right:0;
	}
}

.new-image-button {
	background-color:$lightGrey;
	color:$darkGrey;
	line-height:100%;
	vertical-align:center;
	text-align:center;
	font-size:$large-font-size;

	@include transition(color, 0.3s, ease-in-out);

	&-plus {
		font-size:7em;
		display:block;
		height:50%;
		margin:$standard-margin;

		@include mobile-only {
			font-size: 2em;
			margin: 0.7rem;
		}
	}


	&:hover {
		color:$black;
	}
}

.short-link-form {
	label {
		display:block;
		text-align:center;
	}

	input {
		font-size:1em;
		width:20em;
	}
}