$black:#010101;
$transparentWhite:rgba(255,255,255,0);
$semiTransparentWhite:rgba(255,255,255,0.8);
$textInputFontColor:$black;

$darkGrey:#ddd;
$midGrey:#eeeeee;
$lightGrey:#fcfcfc;
$white:#fefefe;

$mainBlockColour:gray;
$headerColour:$white;
$headerFontColour:$black;

$green:#2CA11C;
$darkGreen:darken($green, 10%);

$purple:#9013FE;
$red:#E72A06;
$orange:#FFC708;
$darkOrange:darken($orange, 10%);
$blue:#06B0E7;

$linkHighlightedColour:$purple;

$primaryHighlight:$blue;
$primaryOverlay:$white;

$warningHighlight:$orange;
$warningOverlay:$black;
$warningBorder:$darkOrange;

$successHighlight:$green;
$successOverlay:$white;
$successBorder:$darkGreen;