$black:#010101;
$transparentWhite:rgba(255,255,255,0);
$semiTransparentWhite:rgba(255,255,255,0.8);
$textInputFontColor:$black;

$darkGrey:#ddd;
$midGrey:#eeeeee;
$lightGrey:#fcfcfc;

$mainBlockColour:gray;
$headerColour:white;
$headerFontColour:$black;
$linkHighlightedColour:#9013FE;