$black:#010101;
$transparentWhite:rgba(255,255,255,0);
$semiTransparentWhite:rgba(255,255,255,0.8);
$textInputFontColor:$black;

$darkGrey:#ddd;
$midGrey:#eeeeee;
$lightGrey:#fcfcfc;

$mainBlockColour:gray;
$headerColour:white;
$headerFontColour:$black;

$purple:#9013FE;
$red:#E72A06;
$orange:#FFC708;
$blue:#06B0E7;
$green:#25FF06;

$linkHighlightedColour:$purple;