input, button {
	font-size:$standard-font-size;
	border-radius:4px;
	padding:$small-margin $standard-margin;
	border:1px solid $midGrey;
}

button, input[type=submit], .button {
	background-color:white;
	border-radius:4px;
	color:$black;
	border:none;
	padding:0.5rem 1rem;
	cursor: pointer;
	display: inline-block;
	text-decoration:none;
	@include box-shadow(0, 0, 5px, $darkGrey);
	@include transition(background-color, 200ms, ease-in-out);

	& > span {
		&:before {
			@include transitionFlexible(width 200ms ease-in-out, height, 200ms, ease-in-out);
			content:'✓';
			display:inline-block;
			width:0;
			height:0;
			overflow:hidden;
		}
	}

	&.primary {
		background-color:$primaryHighlight;
		color:$primaryOverlay;
	}

	&.success {
		& > span {
			&:before {
				width:1em;
			height:1em;
			}
		}
		background-color:$successHighlight;
		color:$successOverlay;
	}
}

input, a, button {
	&.wide-on-hh {
		@include mobile-only {
			width:100%;
			text-align: center;
		}
	}
}

.one-line-form {
	margin:1em 0;
	font-size:$standard-font-size;
	display:-webkit-flex;
	display:flex;
}

.one-line-form form {
	width:100%;
	display:inherit;
}

.one-line-form input {
	width:50%;
	// padding:0.5em 0 0.5em 1em;
	margin:0 1rem;
	-webkit-flex:2;
	flex:2;
}

.one-line-form button, .one-line-form input[type=submit] {
	-webkit-flex:1;
	flex:1;
	padding:0.5rem 1rem;
	margin-right:0;
}

.one-line-form label {
	margin:0.5rem 0;
	display: inline-block;
	-webkit-flex:3;
	flex:3;
}

.one-line-form {
	@media (max-width: 360px) {
		display:block;
	}
	button, input, label {
		@include mobile-only {
			display:block;
			width:100%;
			margin:$small-margin 0;
		}
	}
}

.leveled-form {
	form {
		@extend .cf;
		margin:$standard-margin 0;
		@include mobile-only {
			margin:$standard-margin auto;
		}
		max-width:40rem;
	}

	input, label, button {
		width:100%;
		display:block;
		margin-bottom:$standard-margin;
	}

	&.inline-inputs {
		label {
			width:30%;
			padding:$small-margin $small-margin $small-margin 0;
			float:left;
			text-align:left;

			& + input {
				width:70%;
				float:left;
			}
		}

		.inline-notification-area {
			text-align:left;
		}
	}

	&.centered {
		form {
			margin:$standard-margin auto;
			max-width:30rem;
		}
		input[type=submit] {
			width:auto;
			float:right;
			@include mobile-only {
				width:100%;
				float:none;
			}
			.modal-body & {
				width:100%;
				float:none;
			}
		}
	}

	input[type=submit] {
		width:auto;
		@include mobile-only {
			width:100%;
		}
		.modal-body & {
			width:100%;
		}
	}

	.inline-notification-area {
		height:0;
		display:block;
		border:none;
		margin-bottom:$standard-margin;
		text-align:center;

		&.error {
			height:auto;
			color:$red;
		}
		&.success {
			height:auto;
			color:$green;
		}
	}

	.radio-buttons {
		margin-bottom:$standard-margin;
		.radio-buttons-option {
			display:block;
			width:100%;
			input[type=radio] {
				width: auto;
				float: none;
				display:inline;

				& + label {
					float: none;
					display:inline;
					padding:$small-margin 0 $small-margin $small-margin;
				}
			}
		}
	}
}

.autohighlight {
	cursor:pointer;
}