input, button {
	font-size:$standard-font-size;
	border-radius:4px;
	padding:$small-margin $standard-margin;
	border:1px solid $midGrey;
}

button, input[type=submit], .button {
	background-color:white;
	border-radius:4px;
	color:$black;
	border:none;
	padding:0.5rem 1rem;
	cursor: pointer;
	display: inline-block;
	@include box-shadow(0, 0, 5px, $darkGrey);

	&.primary {
		background-color:$primaryHighlight;
		color:$primaryOverlay;
	}

	@include mobile-only {
		width:100%;
		text-align: center;
	}
}

.one-line-form {
	margin:1em 0;
	font-size:$standard-font-size;
	display:-webkit-flex;
	display:flex;
}

.one-line-form form {
	width:100%;
	display:inherit;
}

.one-line-form input {
	width:50%;
	// padding:0.5em 0 0.5em 1em;
	margin:0 1rem;
	-webkit-flex:2;
	flex:2;
}

.one-line-form button, .one-line-form input[type=submit] {
	-webkit-flex:1;
	flex:1;
	padding:0.5rem 1rem;
	margin-right:0;
}

.one-line-form label {
	margin:0.5rem 0;
	display: inline-block;
	-webkit-flex:3;
	flex:3;
}

.one-line-form {
	@media (max-width: 360px) {
		display:block;
	}
	button, input, label {
		@media (max-width: 360px) {
			display:block;
			width:100%;
		}
	}
}

.leveled-form {
	form {
		margin:$standard-margin auto;
		max-width:40rem;
	}

	input, label, button {
		width:100%;
		display:block;
		margin-bottom:$standard-margin;
		@media only (max-width:$handheld-threshold) {
			width:100%;
		}
	}
}

.autohighlight {
	cursor:pointer;
}