.site-header {
	width:100%;
	background-color:$headerColour;
	padding:1rem 0 0 0;
}

.site-title, .site-title a {
	font:$site-title-font-size $heading-font-stack;
	color:$headerFontColour;
	line-height:31px;
	text-decoration:none;

	&:hover {
		color:$linkHighlightedColour;
	}
}

@include mobile-only {
	.site-title {
		line-height: 27px;
		a {
			font-size:$large-font-size;
		}
	}
}