.modal {
	@include transition(all, 0.45s, ease);
	position:fixed;
	background-color:$semiTransparentWhite;
	top:0;
	bottom:0;
	left:0;
	right:0;

	.modal-body {
		@include translate(0, 0);
		@include transition(transform, 0.45s, ease);
		max-width:$modalWidth;
		background-color:white;
		margin:$large-margin auto;
		padding:$standard-margin;
		@include border-radius($border-radius);
		@include box-shadow(0, 0, 5px, $darkGrey);
	}

	&.hidden {
		display:block;
		bottom:auto;
		height:0;
		background-color:$transparentWhite;

		& .modal-body {
			@include translate(0, -500px);
		}
	}
}
