.new-album-dropzone {
	width:100%;
	border:1px solid $midGrey;
	border-radius:4px;
	height:60vh;
	overflow:hidden;

	& > .dz-message {
		margin:0 auto;
		font-size:$standard-font-size;
		text-align:center;
		height: 200%;
		position: relative;
		width: 100%;
		top:0;
		@include transition(transform, 0.45s, ease);

		.instruction {
			font-size:$large-font-size;
			display:block;
		}

		.dz-message-empty, .dz-message-hovered {
			height:50%;
			width:100%;
			display:table;
			left:0;
			div	{
			    vertical-align:middle;
				display:table-cell;
				width:100%;
			}
		}
	}

	&.dz-drag-hover {
		background-color:$midGrey;
		& > .dz-message {
			@include transform(0, -50%);
			// top:-100%;
		}
	}

	&.dz-started {
		.dz-message {
			display:none;
		}
	}
}