.new-album-dropzone {
	width:100%;
	border:1px solid $midGrey;
	border-radius:4px;
	height:60vh;
	overflow:hidden;
	position:relative;

	& > .dz-message {
		margin:0 auto;
		font-size:$standard-font-size;
		text-align:center;
		height: 300%;
		position: relative;
		width: 100%;
		top:0;
		@include transition(transform, 0.45s, ease);

		p {
			margin:$standard-margin;
		}

		.instruction {
			font-size:$large-font-size;
			display:block;
		}

		.dz-message-empty, .dz-message-hovered, .dz-message-populated {
			height:33%;
			width:100%;
			display:table;
			left:0;
			div	{
			    vertical-align:middle;
				display:table-cell;
				width:100%;
			}
		}

		.dz-message-hovered {
			pointer-events:none;
		}

		.dz-message-populated {
			pointer-events:none;
		}
	}

	&.dz-drag-hover {
		background-color:$midGrey;
		& > .dz-message {
			@include translate(0, -33.33%);
			// top:-100%;
		}
	}

	&.dz-populated {
		& > .dz-message {
			@include translate(0, -66.66%);
			// top:-100%;
		}
	}

	&.dz-started {
		.dz-message {
			display:none;
		}
	}

	&.dz-populated {
		color:$midGrey;
		.images {
			display:block;
		}
	}

	.images {
		display:none;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border:none;

		.image {
			cursor: default;
		}
	}
}