.res-hh {
	@media (min-width: 500px) {
		display:none!important;
	}
}

.res-not-hh {
	@include mobile-only {
		display:none!important;
	}
}

body.not-copyable .copy-available {
	display:none;
}

body.copyable .copy-not-available {
	display:none;
}
