.res-hh {
	@media (min-width: 500px) {
		display:none!important;
	}
}

.res-not-hh {
	@include mobile-only {
		display:none!important;
	}
}

.flash-available {
	body.no-flash & {
		display:none;
	}
}

.flash-available {
	body.flash & {
		display:none;
	}
}