@import "colours";
@import "sizes";
@import "fonts";
@import "mixins";
@import "new-album";
@import "album";
@import "header";
@import "navigation";
@import "notifications";
@import "modal";
@import "../node_modules/font-awesome/scss/font-awesome.scss";

* {
	box-sizing:border-box;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

html {
	font-size:$standard-font-size;
	padding:0;
	margin:0;
}

body {
	padding:0;
	margin:0;
	font:1rem $body-font-stack;
}

a {
  color: $linkHighlightedColour;
}

.grid {
	max-width:$pageWidth;
	padding:0 1rem;
	margin:0 auto;
}

.row {
	margin:2rem auto;
}

@import "forms";

.images {
	display:block;
	text-decoration: none;
	padding:1rem 0 0 0;
	border-top:1px solid $darkGrey;
	box-sizing:content-box;

	&.dz-drag-hover {
		background-color:$lightGrey;
	}
}

.images.one-line {
	display:block;
	height:10vmax;
	overflow:hidden;
	padding:1rem 0 1rem 0;
}

.image {
	display: block;
}

.image {
	overflow-y: hidden ! important;
	overflow-x: hidden ! important;
	background-color:$lightGrey;
	background-image: url('index.png');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: right;
	width:10vmax;
	height:10vmax;
	margin:0 1rem 1rem 0;
	display: inline-block;
	cursor:pointer;
}

.empty-state {
	display:none;
	.empty & {
		display:block;
	}
}

.hidden {
	display:none;
}