<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<script type="text/javascript" src="/javascripts/jquery-2.1.3.min.js"></script>
	<script type="text/javascript" src="/javascripts/dropzone.js"></script>
	<script type="text/javascript" src="/javascripts/main.js"></script>
</head>
<body>
	{{{body}}}
</body>
</html>