<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<script type="text/javascript" src="/javascripts/bundle.js"></script>
</head>
<body>
	{{!-- The purpose of .page-container is to swap out handlebar-rendered pages later on --}}
	<div id="page-container">
		{{{body}}}
	</div>
</body>
</html>