<div>
	<label for="short-link">Get your friends to contribute:</label>
	<input type="text" id="short-link" name="short-link" value="{{links.web}}">
	<div class="images">
		{{#each files}}
		<div class="image">
			<img src="{{links.image}}">
		</div>
		{{/each}}
	</div>
</div>