{{#with album}}
<div>
	<section class="one-line-form cf">
		<label for="shortLink">Get your friends to contribute:</label>
		<input type="text" id="shortLink" name="shortLink" value="{{links.web}}" />
		<button type="button" id="shortLinkCopy">Copy</button>
	</section>
	<div class="images" id="existingAlbumDropzone">
		{{#each files}}
		<div class="image" style="background-image:url({{links.imageW288}})"></div>
		{{/each}}
	</div>
</div>
{{/with}}

<div id="newImagePreviewTemplate" style="display: none;">
	<img class="image" data-dz-thumbnail />
	{{!-- <div class="dz-preview dz-file-preview">
		<div class="dz-details">
			<div class="dz-filename"><span data-dz-name></span></div>
			<div class="dz-size" data-dz-size></div>
		</div>
		<div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
		<div class="dz-success-mark"><span>✔</span></div>
		<div class="dz-error-mark"><span>✘</span></div>
		<div class="dz-error-message"><span data-dz-errormessage></span></div>
	</div> --}}
</div>