<div>
	<section class="album-meta-data cf">
		<label for="short-link">Get your friends to contribute:</label>
		<button type="button" id="short-link-copy">Copy</button>
		<input type="text" id="short-link" name="short-link" value="{{links.web}}">
	</section>
	<div class="images">
		{{#each files}}
		<div class="image" style="background-image:url({{links.image}})"></div>
		{{/each}}
	</div>
</div>