{{#with album}}
<div class="album-view">
	<div class="images cf" id="existingAlbumDropzone">
		<h2>{{{albumNameOrDefault @root.album}}}</h2>
		<section class="short-link-form cf">
			<p>Get your friends to contribute: <input type="text" id="shortLink" name="shortLink" class="no-edit autohighlight res-not-hh" value="{{links.web}}" /> <a id="shortLinkCopy" class="button primary wide-on-hh"><span class="res-not-hh">Copy to clipboard</span><span class="res-hh">Copy link to clipboard</span></a></p>
		</section>
		{{#each files}}
		<div class="image">
			<a class="internal-link" href="{{links.web}}" style="background-image:url({{links.imageW288}})"></a>
		</div>
		{{/each}}
		<div class="new-image-button">
			<a id="newImageButton"></a>
		</div>
	</div>
</div>
{{/with}}

<div id="newImagePreviewTemplate" style="display: none;">
	<div class="dz-preview dz-file-preview image">
		<img data-dz-thumbnail />
		<div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
	</div>
	{{!-- <div class="dz-preview dz-file-preview">
		<div class="dz-details">
			<div class="dz-filename"><span data-dz-name></span></div>
			<div class="dz-size" data-dz-size></div>
		</div>
		<div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
		<div class="dz-success-mark"><span>✔</span></div>
		<div class="dz-error-mark"><span>✘</span></div>
		<div class="dz-error-message"><span data-dz-errormessage></span></div>
	</div> --}}
</div>