<div class="album-list-view empty">
	<div class="signUpView">
		{{#if user}}
		{{else}}
		<section id="signUp" class="one-line-form cf">
			<form id="signUpForm">
				<label for="signUpEmail">Use Swumo on other devices by signing up:</label>
				<input type="email" placeholder="you@example.com" id="signUpEmail" name="email">
				<input type="password" placeholder="password" id="signUpPassword" name="password">
				<input type="submit" id="signUpInput" value="Sign up">
			</form>
		</section>
		{{/if}}
	</div>
	{{#each albums}}
	<a class="images cf one-line internal-link" href="{{links.web}}">
		<h2>{{{albumNameOrDefaultInList}}}</h2>
		{{#each files}}
		<div class="image">
			<div style="background-image:url({{links.imageW288}})"></div>
		</div>
		{{/each}}
	</a>
	{{/each}}
	<div class="empty-state">
		<div class="important information">
			<p>You don't have any albums yet! Drag some images in here to make one.</p>
		</div>
	</div>
</div>