<div class="image-view">
	<a href="{{album.links.web}}">Back to album</a>
	{{#with file}}
	<section class="short-link-form cf">
		<p>Get your friends to contribute: <input type="text" id="shortLink" name="shortLink" class="no-edit autohighlight" value="{{links.web}}" /> <a id="shortLinkCopy">Copy to clipboard</a></p>
	</section>
	<img src="{{links.image}}">
	{{/with}}
</div>