<h1>Welcome to {{title}}</h1>
<h2>Upload a photo below to get started:</h2>
<div class="album-images">
	<form action="/api/albums" class="dropzone" id="albumDropzone"></form>
	<br>
	<input type="text" id="album-url">
</div>