<div class="row album-images">
	<form class="new-album-dropzone" id="albumDropzone">
		<div class="dz-message">Drag images here &amp; share the link with your friends</div>
	</form>
</div>
{{#if user}}
{{else}}
<div class="signInView">
	<section id="signIn" class="one-line-form cf">
		<form id="signInForm">
			<label for="signInEmail">Log in to see existing albums:</label>
			<input type="email" placeholder="you@example.com" id="signInEmail" name="email">
			<input type="password" placeholder="password" id="signInPassword" name="password">
			<input type="submit" id="signInInput" value="Sign in">
		</form>
	</section>
</div>
{{/if}}