<div class="row album-images">
	<form action="/api/albums" class="dropzone new-album-dropzone" id="albumDropzone">
		<div class="dz-message">Drag images here &amp; share the link with your friends</div>
	</form>
</div>