<div class="row album-images">
	<form class="new-album-dropzone" id="albumDropzone">
		<div class="dz-message">
			<div class="dz-message-empty dz-message">
				<div class="dz-message">
					<p class="dz-message">The best way to create collaborative image collections.<br/>No account required.</p>
					<p class="instruction dz-message">Drop in some images to get started.</p>
					<p class="dz-message">Or <a href="/sign-in" class="signInModalLink">click here to sign in</a>.</p>
				</div>
			</div>
			<div class="dz-message-hovered dz-message">
				<div class="dz-message">
					<p class="dz-message"><span class="instruction dz-message">Drop it</span> like it's hot</p>
				</div>
			</div>
			<div class="dz-message-populated dz-message">
				<div class="dz-message">
					<p class="instruction dz-message">Here they go!</p>
				</div>
			</div>
		</div>
		<div class="images cf" id="newAlbumImagePreviewsContainer">
		</div>
	</form>
</div>

<div id="newAlbumImagePreviewTemplate" style="display: none;">
	<div class="image">
		<span class="hidden" data-dz-name></span>
		<div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
	</div>
	{{!-- <div class="dz-preview dz-file-preview">
		<div class="dz-details">
			<div class="dz-filename"><span data-dz-name></span></div>
			<div class="dz-size" data-dz-size></div>
		</div>
		<div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
		<div class="dz-success-mark"><span>✔</span></div>
		<div class="dz-error-mark"><span>✘</span></div>
		<div class="dz-error-message"><span data-dz-errormessage></span></div>
	</div> --}}
</div>

<div id="dropzoneMessageOptions" class="hidden">
	<div class="dz-message"><p class="dz-message"><span class="dz-message instruction">Drop it</span> like it's hot</p></div>
	<div class="dz-message"><p class="dz-message"><span class="dz-message instruction">Drop</span> in the name of love</p></div>
	<div class="dz-message"><p class="dz-message">Here comes the <span class="dz-message instruction">Drop</span></p></div>
	<div class="dz-message"><p class="dz-message">Once you <span class="dz-message instruction">Drop</span> you just can't stop</p></div>
	<div class="dz-message"><p class="dz-message"><span class="dz-message instruction">Drop</span> the dead donkey</p></div>
	<div class="dz-message"><p class="dz-message"><span class="dz-message instruction">Drop</span> a bombshell</p></div>
	<div class="dz-message"><p class="dz-message"><span class="dz-message instruction">Drop Right Now</span> Thank you very much</p></div>
</div>