<div class="row album-images">
	<form class="new-album-dropzone" id="albumDropzone">
		<div class="dz-message">
			<p>The best way to create collaborative image collections.<br/>No account required.</p>
			<p class="instruction">Drop in some images to get started.</p>
			<p>Or <a href="/sign-in" class="signInModalLink">click here to sign in</a>.</p>
		</div>
		<div class="dz-message dz-hovered-message">
			<p><span class="instruction">Drop it</span> like it's hot</p>
		</div>
	</form>
</div>
{{#if user}}
{{else}}
{{!-- <div class="signInView">
	<section id="signIn" class="one-line-form cf">
		<form id="signInForm">
			<label for="signInEmail">Log in to see existing albums:</label>
			<input type="email" placeholder="you@example.com" id="signInEmail" name="email">
			<input type="password" placeholder="password" id="signInPassword" name="password">
			<input type="submit" id="signInInput" value="Sign in">
		</form>
	</section>
</div> --}}
{{/if}}

<div id="newAlbumImagePreviewTemplate" style="display: none;">
	<div class="dz-preview dz-file-preview">
		<img class="image" data-dz-thumbnail />
		<div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
	</div>
	{{!-- <div class="dz-preview dz-file-preview">
		<div class="dz-details">
			<div class="dz-filename"><span data-dz-name></span></div>
			<div class="dz-size" data-dz-size></div>
		</div>
		<div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
		<div class="dz-success-mark"><span>✔</span></div>
		<div class="dz-error-mark"><span>✘</span></div>
		<div class="dz-error-message"><span data-dz-errormessage></span></div>
	</div> --}}
</div>

<div id="dropzoneMessageOptions" class="hidden">
	<div><p><span class="instruction">Drop it</span> like it's hot</p></div>
	<div><p><span class="instruction">Drop</span> in the name of love</p></div>
	<div><p>Here comes the <span class="instruction">Drop</span></p></div>
	<div><p>Once you <span class="instruction">Drop</span> you just can't stop</p></div>
	<div><p><span class="instruction">Drop</span> the dead donkey</p></div>
	<div><p><span class="instruction">Drop Right Now</span> Thank you very much</p></div>
</div>