<h2>User Profile</h2>
<h3>Details</h3>
<div class="leveled-form inline-inputs">
	<form id="changeEmail" method="PUT" disabled="disabled">
		<label for="emailAddress">Email address</label>
		<input type="text" type="email" value="{{user.email}}" id="emailAddress" disabled="disabled">
		{{!-- <input class="button primary" type="submit" value="Change"> --}}
	</form>
</div>
<h3>Change your password</h3>
<div class="leveled-form inline-inputs">
	<form id="changePasswordForm" method="PUT">
		<label for="oldPassword">Current password</label>
		<input type="password" id="oldPassword">
		<label for="newPassword">New password</label>
		<input type="password" id="newPassword">
		<label for="newPasswordRepeat">Repeat new password</label>
		<input type="password" id="newPasswordRepeat">
		<input class="button primary" type="submit" value="Change">
	</form>
</div>
<h3>Privacy</h3>
<div class="leveled-form inline-inputs">
	<p>By default, any images you upload can be used by Picnic for promotional reasons. However, we understand that many users would prefer to opt out of this, so you may do so below. Read more in our <a href="/privacy">privacy policy</a>.</p>
	<form id="changePrivacyForm" method="PUT" disabled="disabled">
		<section class="radio-buttons">
			<p>Opt-in to image sharing?</p>
			<div class="radio-buttons-option">
				<input name="opt-in" id="optInTrue" type="radio" value="true" checked="checked">
				<label for="optInTrue">Yes, you may use my images</label>
			</div>
			<div class="radio-buttons-option">
				<input name="opt-in" type="radio" id="optInFalse" value="false">
				<label for="optInFalse">No, do not use my images</label>
			</div>
		</section>
		<input class="button primary" type="submit" value="Change">
	</form>
</div>