<h2>Hey, there</h2>
<h3>Change your password</h3>
<form id="changePasswordForm" action="/users/password" method="PUT">
	<label for="oldPassword">Current password</label>
	<input type="password" id="oldPassword">
	<label for="newPassword">New password</label>
	<input type="password" id="newPassword">
	<label for="newPasswordRepeat">Repeat new password</label>
	<input type="password" id="newPasswordRepeat">
	<input type="submit" value="Change">
</form>