<section id="signIn" class="cf">
	<form id="signInForm">
		<label for="signInEmail">Log in to see existing albums:</label>
		<input type="email" placeholder="you@example.com" id="signInEmail" name="email">
		<input type="password" placeholder="password" id="signInPassword" name="password">
		<input type="submit" id="signInInput" value="Sign in">
	</form>
</section>